body {
    background-color: black;
}

#container {
    display: grid;
    height: 400px;
    width: 400px;

}

.square {
    border-style:solid ;
    border-color: rgba(239, 234, 234, 0.582);
}
button {
    background-color: rgba(254, 254, 254, 0.874);
    border-style: double;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    flex: 1;
}

